<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="30px">
  <div class="row">
    <button routerLink="/pet-add" mat-mini-fab mat-raised-button color="link">+</button>
  </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="pets">
      <div fxFlex="33" [fxFlex.md]="'50'" [fxFlex.sm]="'100'" *ngFor="let pet of pets">
        <div class="card">
          <div class="card-body">
            <a routerLink="/pets/{{pet.id}}">{{pet.petName}}</a>
            <div class="card-body text-center">
              <button routerLink="/pet-update/{{pet.id}}" class="btn btn-dark btn-sm mr-1 ml-2">Update</button>
              <button (click)="delete(pet.id)" class="btn btn-dark btn-sm mr-1 ml-2">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div *ngIf="!pets" fxFill fxLayoutAlign="center center">
        <mat-spinner mode="indeterminate"></mat-spinner>
      </div>
</div>



