<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="30px">
  <div class="row">
    <button mat-mini-fab mat-raised-button color="link" routerLink="/owner-add">+</button>
  </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="owners">
      <div fxFlex="33" [fxFlex.md]="'50'" [fxFlex.sm]="'100'" *ngFor="let owner of owners">
        <div class="card ml-2 mt-2">
          <div class="card-body">
            <a routerLink="/owners/{{owner.id}}">{{owner.firstName}} {{owner.lastName}}</a>
              <div class="card-body text-right">
                <button routerLink="/owner-update/{{owner.id}}" class="btn btn-dark btn-sm mr-1 ml-2">Update</button>
                <button (click)="delete(owner.id)" class="btn btn-dark btn-sm mr-1 ml-2">Delete</button>
              </div>
           </div>
        </div>
      </div>
    </div>
  <div *ngIf="!owners" fxFill fxLayoutAlign="center center">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
</div>

