<div fxLayout="column"
     fxFill
     fxLayoutGap="10px">
  <div fxLayout="row">
    <button routerLink="/pets" mat-mini-fab mat-raised-button color="primary"><<</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card fxFlex="33">
      <form [formGroup]="ownerForm" (ngSubmit)="save()">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="First name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Address" formControlName="address">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Phonenumber" formControlName="phoneNumber">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
        <button class="btn-sucess btn-sm" type="submit">Save</button>
        <button class="btn-dark btn-sm" routerLink="/owners">Back</button>
      </form>
    </mat-card>
  </div>
</div>


